body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 500px;
  padding-top: 100px;
}

.LC-controller {
}

button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #fffbfb;
  border-radius: 10px;
  background-color: #524e4e;
}

input {
  padding: 10px;
  border: 2px solid lightgrey;
  width: 280px;
  outline: none;
}

.msg {
  margin-top: 10px;
  font-size: 30px;
}

h1 {
  font-weight: 500;
  border-bottom: 2px solid lightgrey;
  padding: 10px;
}
